
@font-face {
  font-family: 'FCLamoonRegular';
  src: url('FCLamoonRegular.eot?#iefix') format('embedded-opentype'),  url('FCLamoonRegular.woff') format('woff'), url('FCLamoonRegular.ttf')  format('truetype'), url('FCLamoonRegular.svg#FCLamoonRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
